<div style="width: 40%;">
  <table class="table">
    <thead>
      <th colspan="2"><strong>Assigned Members</strong></th>
    </thead>
    <tbody>
      <% @group.users.each do |member| %>
        <tr>
          <td><%= member.full_name %></td>
          <td style="text-align: right;">
            <%= link_to ll('remove'), group_memberships_path(@group, member),
                  :class => 'btn btn-mini btn-danger',
                  :remote => true, :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div style="width: 40%;">
  <table class="table">
    <thead>
      <th colspan="2"><strong>New Members</strong></th>
    </thead>
    <tbody>
      <% @non_members.each do |member| %>
        <tr>
          <td><%= member.full_name %></td>
          <td style="text-align: right;">
            <%= link_to ll('add'), group_memberships_path(@group, member),
                    :class => 'btn btn-mini',
                    :remote => true, :method => :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
