<div class="resource-infobox">
  <h4><%= @event.name %>, <%= @event.date %></h4>
  <dl>
    <dt>Owner</dt>
    <dd><%= @event.user.full_name %></dd>
    <dt>Description</dt>
    <% if @event.description? %>
      <dd><%= @event.description.gsub(/\n/, '<br>').html_safe %></dd>
    <% else %>
      <dd>
        <em><small>No information...</small></em>
      </dd>
    <% end %>
  </dl>
</div>
