/* mixins, variables, etc. */

$gray: #808080;
$grayMediumLight: #eaeaea;
$grayDarker: #696969;

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $gray;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* group_members */

#non-member-list {
	float: right;
}

/* Styles for jQuery form validation plugin */

label.valid {
  width: 24px;
  height: 24px;
  background: url(valid.png) center center no-repeat !important;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
