/* mixins, variables, etc. */

$gray: #808080;
$grayMediumLight: #eaeaea;
$grayDarker: #696969;

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

/* signin - signup page */

.form-signinup {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 10px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signinup .form-signinup-heading,
.form-signinup .checkbox {
  margin-bottom: 10px;
}

.form-signinup input[type="text"],
.form-signinup input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* group_members */

#non-member-list {
    float: right;
}

/* Styles for jQuery form validation plugin */

label.valid {
  width: 24px;
  height: 24px;
  background: url(valid.png) center center no-repeat !important;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* Styles for admin's home */

.row .span-one-third {
  width: 270px;
  text-align: center;
}

.appRect {
  background-color: #EFEFEF;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF);
  background-repeat: repeat-x;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  padding: 20px 0 20px 0;
}

.hero-unit {
  padding: 30px;
}

/* Styles for resources index page */

.resource-index {
  background: -moz-linear-gradient(center top , #F9F9F9 50%, #F0F0F0 100%) repeat scroll 0 0 transparent;
  border: 1px solid #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}
