<div class="span6">
<table class="table table-striped span12">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% timeslots.each do |timeslot| %>
      <tr>
        <td><%= timeslot.from %></td>
        <td><%= timeslot.to %></td>
        <td>
          <%= link_to ll('.remove'), event_timeslot_path(@event, timeslot),
                :remote => true, :method => :delete,
                :class => 'btn btn-mini btn-danger' %>
          <%= link_to ll('.duplicate'), timeslot_duplicate_path(@event, timeslot),
                :remote => true, :method => :post,
                :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="span6">
  placeholder for booked users and their information
</div>
