<footer class="footer">
    <small>
        Semester project 2012</a>
        by Sandra Freihofer
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",    about_path %></li>
            <li><%= link_to "Contact",  contact_path %></li>
        </ul>
    </nav>
</footer>
