<footer class="footer">
    <small>
        &copy; ZHAW Semester project 2012 by <%= link_to "Sandra Freihofer", "http://www.github.com/sfreihofer/", :target => '_blank' %>
    </small>
    <nav>
        <ul>
            <li><%= link_to "Support",  support_path %></li>
        </ul>
    </nav>
</footer>
